<h1 class="text-center my-5">BMS to PDF <i class="fas fa-file-csv fa-fw"></i><i class="fas fa-arrow-right fa-fw"></i><i class="fas fa-file-pdf fa-fw"></i></h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mb-5 shadow">
      <div class="card-body">
        <p class="mb-3">Use the form below to take the <acronym title="Comma Separated Values">CSV</acronym> file exported from mySigEp's Balanced Man Scholarship tool to create a <acronym title="Portable Document Format">PDF</acronym> of the applications, one per page.</p>
        <hr />
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= (type == 'alert') ? 'danger' : 'info' %>"><%= msg %></div>
        <% end %>
        <%= form_with url: upload_convert_path, method: :post, data: {turbo: false, remote: false} do |form| %>
          <div class="form-file mb-4">
            <%= form.label :csv, "CSV Export File", class: 'd-none' %>
            <%= form.file_field :csv, required: true, class: 'form-control' %>
            <div class="form-text">Select the exported CSV file from the BMS Tool.</div>
          </div>
          <div class="form-check mb-3">
            <%= form.check_box :show_summary, class: 'form-check-input', checked: true %>
            <%= form.label :show_summary, "Include Summary", class: 'form-check-label' %>
            <div class="form-text">Include a summary of the applications.</div>
          </div>
          <div class="form-check mb-3">
            <%= form.check_box :hide_identifiers, class: 'form-check-input' %>
            <%= form.label :hide_identifiers, "Hide Identifying Information", class: 'form-check-label' %>
            <div class="form-text">Useful if you want to help reviewers remain neutral.</div>
          </div>
          <%= form.submit "Upload", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="text-center text-muted">
      <small>Made with Virtue, Diligence, and Brotherly Love by <a href="https://utmartin.sigep.org/" target="_blank">UT Martin SigEp</a></small>
    </div>
  </div>
</div>